body {
	background-color:#222222;
	color:#FFFFFF;
	text-align: center;
}

.warning {
	color: #FF0000;
	font-size: 150%;
	font-weight: bold;
}

canvas {
	background-color:#FF0080;
}

canvas.screenCanvas {
	background-color:#466FAD;
	display: block;
	margin-left: auto;
	margin-right: auto;
}